:root {
    --blue-dark: #25316D;
    --blue-light: #97D2EC;
    --gray: #5F6F94;
    --yellow: #FEF5AC;
    --orange: #bd5d38;
    --gray-dark: #343A40;
    --orange-light: #cb866d;
    --gray-ligth: #eaedf5;
}

html {
    height: 300vh;
}

body {}

main {
    margin-top: 200px;
}

.container-header {
    max-width: 1280px;
    margin: auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    width: 100%;
    padding: 40px 1%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
    z-index: 9999;

}

header a,
.custom-navbar-brand {
    color: var(--orange) !important;
}

.btn-pdf {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 500;
    color: var(--orange) !important;

}

.btn-pdf:hover {
    background-color: var(--orange-light);
    color: var(--gray-ligth);
    border: 1px solid var(--orange);
    border-radius: 5px;
}

header.scrolling {
    background-color: var(--orange);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px 1%;

}

header.scrolling a,
.custom-navbar-brand {
    color: var(--gray-ligth) !important;
}

header.scrolling .btn-pdf {

    color: var(--orange);
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin-left: 40px;
}

header ul li a {
    color: var(--gray);
    font-size: 20px;
    text-decoration: none;
}

nav .nav-link {
    color: var(--orange);
    text-align: center;
}

nav .nav-link:hover {
    color: var(--orange-light);
}

.text-color {
    color: var(--orange);
}

a {
    color: var(--orange);
    text-decoration: none;
}

a:hover {
    color: var(--orange-light);
}

.subheading {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
}

.social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    background-color: #495057;
    color: #fff;
    border-radius: 100%;
    font-size: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

.social-icons .social-icon:hover {
    background-color: #bd5d38;
}

.text-primary {
    --bs-text-opacity: 1;
    color: var(--orange) !important;
    font-weight: 500;
}

.dev-icons {
    font-size: 2rem;
    color: #495057;
}

@media (max-width: 990px) {
    main {
        padding-top: 220px;
    }
}